.task {
    border-radius: 3px;
    background: #F2E4F1;
    padding: 10px 20px;
    cursor: pointer;
  }

  .task:hover {
    background: #D3BFD9;
  }
  
  .task.check {
    background: #C8F2C2;
    color: #49A646;
    text-decoration: line-through;
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
      color: #281259;
  }
  .icon:hover {
    color: #73168C;
  }